<div class="container-fluid">
    <div class="container">
        <div class="row offset-md-1 mt-2">
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="SearchBar_searchContainer__3RS1T">
                    <img src="../../../assets/img/pin.svg" class="SearchBar_iconLocation__1Egat SearchBar_icons__37sj1"
                        alt="location_icon">
                    <input type="text" id="searchBox" class="SearchBar_searchInput__2pENS" placeholder="Search"
                        [(ngModel)]="searchText" (ngModelChange)="filterCity(searchText)">
                    <button class="SearchBar_searchBtn__3qNgr">
                        <img src="../../../assets/img/search.svg" (click)="focusOnSearchBox()"
                            class="SearchBar_icons__37sj1" alt="Search_Icon">
                    </button>
                    <section class="SearchBar_searchListContainer__1mpdS">
                        <div *ngFor="let city of options">
                            <div *ngIf="searchTextVal" class="SearchList_searchListContainer__1PVR4"
                                (click)="searchDataAvail(city)"><span><span class="text-capitalize"><b
                                            class="text-capitalize">{{city.city}}</b></span>,<span class="text-lighter">
                                        {{city.admin}}</span></span>
                                <div class="d-flex justify-space-between">
                                    <div class="d-flex fd-column"><span>{{ city?.temp | number: '1.0-0' }} <sup>o</sup>C</span>
                                        &nbsp;&nbsp;<span class="text-lighter">{{ city?.weather }}</span>
                                    </div>
                                    <img *ngIf="city?.weather === 'Clouds'" class="SearchList_weatherIcon__E3rLp"
                                        src="../../../assets/img/cloudy.svg" alt="Clouds">
                                    <img *ngIf="city?.weather === 'Rain'" class="SearchList_weatherIcon__E3rLp"
                                        src="../../../assets/img/rainy.svg" alt="Rain">
                                    <img *ngIf="city?.weather === 'Clear' || city?.weather === 'Haze'"
                                        class="SearchList_weatherIcon__E3rLp" src="../../../assets/img/sunny.svg"
                                        alt="Sunny">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <section class="DailyForecasts_forecastsContainer__EoB4K">
                    <div class="DailyForecasts_dailyForecastContainer__13H90" (click)="showSingleData(dailyData)"
                        *ngFor="let dailyData of lsistOfWeatherDays; let id = index">
                        <input class="DailyForecasts_activeForecastSelector__2oK8e" type="radio" name="active_day"
                            value="1" [checked]="id === 0">
                        <div class="DailyForecasts_dailyForecast__131e5">
                            <p class="">{{dailyData.dt}}</p>
                            <p><span>{{dailyData.temp.max}}<sup>o</sup></span>&nbsp;&nbsp; <span
                                    class="text-lighter">{{dailyData.temp.min}}<sup>o</sup></span></p>
                            <img *ngIf="dailyData.weather[0].main === 'Clouds'"
                                class="DailyForecasts_forecastIcon__1YcEE" src="../../../assets/img/cloudy.svg"
                                alt="Clouds">
                            <img *ngIf="dailyData.weather[0].main === 'Rain'" class="DailyForecasts_forecastIcon__1YcEE"
                                src="../../../assets/img/rainy.svg" alt="Rain">
                            <img *ngIf="dailyData.weather[0].main === 'Clear'"
                                class="DailyForecasts_forecastIcon__1YcEE" src="../../../assets/img/sunny.svg"
                                alt="Sunny">
                            <p class="text-lighter">{{dailyData.weather[0].main}}</p>
                        </div>
                    </div>
                </section>

                <section *ngIf="chartSingleDataWeatherMain" class="DetailedForecast_detailedContainer__3F3Bs">
                    <div class="DetailedForecast_currentTempContainer__2qFgV">
                        <h1 class="DetailedForecast_currentTemp__3gkzL">{{chartSingleDataMax}}°C</h1>
                        <img *ngIf="chartSingleDataWeatherMain === 'Clouds'"
                            class="DetailedForecast_currentTempIcon__2VNAN" src="../../../assets/img/cloudy.svg"
                            alt="Clear">
                        <img *ngIf="chartSingleDataWeatherMain === 'Clear'"
                            class="DetailedForecast_currentTempIcon__2VNAN" src="../../../assets/img/sunny.svg"
                            alt="Clear">
                        <img *ngIf="chartSingleDataWeatherMain === 'Rain'"
                            class="DetailedForecast_currentTempIcon__2VNAN" src="../../../assets/img/rainy.svg"
                            alt="Rain">
                    </div>
                    <div class="DetailedForecast_graphContainer__3t3cx">
                        <apx-chart id="chart" *ngIf="isHourlyDataLoaded" [series]="chartOptions.series"
                            [chart]="chartOptions.chart" [fill]="chartOptions.fill" [yaxis]="chartOptions.yaxis"
                            [xaxis]="chartOptions.xaxis" [tooltip]="chartOptions.tooltip" [xaxis]="chartOptions.xaxis"
                            [grid]="chartOptions.grid" [colors]="chartOptions.colors" [markers]="chartOptions.markers"
                            [dataLabels]="chartOptions.dataLabels" [stroke]="chartOptions.stroke"></apx-chart>
                    </div>


                    <!-- Pressure Humidity -->
                    <div class="DetailedForecast_secondaryStatsContainer__26qz7">
                        <div class="DetailedForecast_secondaryStats__27RJT"><span
                                class="bold">Pressure</span><span>{{singleDataStorage.pressure}} hpa</span></div>
                        <div class="DetailedForecast_secondaryStats__27RJT"><span
                                class="bold">Humidity</span><span>{{singleDataStorage.humidity}} %</span></div>
                    </div>
                    <!-- Sun Rise -->

                    <div>
                        <div class="d-flex justify-space-between">
                            <div class="DetailedForecast_sunriseStats__1OkUS"><span class="bold">Sunrise</span><span
                                    class="text-lighter">{{sunrise | date: 'shortTime' }}</span></div>
                            <div class="DetailedForecast_sunriseStats__1OkUS"><span class="bold">Sunset</span><span
                                    class="text-lighter">{{sunset  | date: 'shortTime'}}</span></div>
                        </div>
                        <div style="height: 200px;">
                            <apx-chart *ngIf="showSecondChart" [series]="chartOptions2.series"
                                [chart]="chartOptions2.chart" [xaxis]="chartOptions2.xaxis" [yaxis]="chartOptions2.yaxis"
                                [stroke]="chartOptions2.stroke" [tooltip]="chartOptions2.tooltip"
                                [dataLabels]="chartOptions2.dataLabels" [colors]="chartOptions2.colors"></apx-chart>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>